Django==1.5.5
PyYAML==3.10
argcomplete==0.6.3
argh==0.23.3
django-nose==1.2
ipdbplugin==1.4
ipython==1.1.0
mock==1.0.1
nose==1.3.0
nose-watch==0.9.1
-e git+git@github.com:/adamhaney/django-ondelta@0db6a9d52023217207e9342f2f9ae4b7ebe99970#egg=ondelta-origin/feature/no-persist
pathtools==0.1.2
pep8==1.4.6
pyflakes==0.7.3
watchdog==0.6.0
wsgiref==0.1.2
